body{
    margin:0;
    background:#111;
    font-family:'Oswald',sans-serif;
}

.container{
    display:flex;
    gap:30px;
    padding:20px;
}

.panel{
    width:300px;
    background:#222;
    padding:20px;
    border-radius:10px;
}

.panel h1{
    color:white;
    margin-top:0;
}

.panel label{
    color:white;
    display:block;
    margin-top:10px;
}

.panel input{
    width:100%;
    padding:10px;
    box-sizing:border-box;
}

.panel button{
    margin-top:20px;
    width:100%;
    padding:12px;
    cursor:pointer;
}

#canvas-area{
    position:relative;
    width:1200px;
}

#base{
    width:100%;
    display:block;
}

#logoArea{
    position:absolute;
    top:35px;
    right:60px;
    text-align:right;
}

#logoNombre{
    color:white;
    font-size:58px;
    font-weight:700;
}

#logoSlogan{
    color:white;
    font-size:24px;
}

#serieTxt{
    position:absolute;
    top:75px;
    left:95px;

    color:#ff6600;
    font-size:110px;
    font-weight:700;
}

#modeloTxt{
    position:absolute;
    top:185px;
    left:95px;

    color:black;
    font-size:95px;
    font-weight:700;
}

#turboTxt{
    position:absolute;
    top:380px;
    left:95px;

    color:white;
    font-size:92px;
    font-weight:700;
}

#turboLabel{
    position:absolute;
    top:485px;
    left:100px;

    color:black;
    font-size:55px;
    font-weight:700;
}

#coresNum{
    position:absolute;
    top:635px;
    left:95px;

    color:white;
    font-size:85px;
    font-weight:700;
}

#coresLabel{
    position:absolute;
    top:725px;
    left:100px;

    color:black;
    font-size:52px;
    font-weight:700;
}

#threadsNum{
    position:absolute;
    top:810px;
    left:95px;

    color:white;
    font-size:85px;
    font-weight:700;
}

#threadsLabel{
    position:absolute;
    top:900px;
    left:100px;

    color:black;
    font-size:52px;
    font-weight:700;
}

#numeroTxt{
    position:absolute;
    bottom:65px;
    right:225px;

    color:white;
    font-size:125px;
    font-weight:700;
}
