body{
    margin:0;
    background:#111;
    font-family:'Oswald',sans-serif;
}

.container{
    display:flex;
    gap:30px;
    padding:20px;
}

.panel{
    width:300px;
    background:#222;
    padding:20px;
    border-radius:10px;
}

.panel h1{
    color:white;
    margin-top:0;
}

.panel label{
    color:white;
    display:block;
    margin-top:10px;
}

.panel input{
    width:100%;
    padding:10px;
    box-sizing:border-box;
}

.panel button{
    margin-top:20px;
    width:100%;
    padding:12px;
    cursor:pointer;
}

#canvas-area{
    position:relative;
    width:1600px;
}

#base{
    width:100%;
    display:block;
}

#serieTxt{
    position:absolute;
    top:50px;
    left:150px;

    color:#ff6600;
    font-size:130px;
    font-weight:700;
}

#modeloTxt{
    position:absolute;
    top:190px;
    left:150px;

    color:black;
    font-size:95px;
    font-weight:700;
}

#turboTxt{
    position:absolute;
    top:385px;
    left:150px;

    color:white;
    font-size:90px;
    font-weight:700;
}

#turboLabel{
    position:absolute;
    top:510px;
    left:150px;

    color:black;
    font-size:100px;
    font-weight:700;
}

#coresNum{
    position:absolute;
    top:660px;
    left:150px;

    color:white;
    font-size:70px;
    font-weight:700;
}

#coresLabel{
    position:absolute;
    top:745px;
    left:150px;

    color:black;
    font-size:50px;
    font-weight:700;
}

#threadsNum{
    position:absolute;
    top:795px;
    left:150px;

    color:white;
    font-size:80px;
    font-weight:700;
}

#threadsLabel{
    position:absolute;
    top:880px;
    left:150px;

    color:black;
    font-size:50px;
    font-weight:700;
}
